* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
	padding: 0;
}

h1 {
  font-size: 3rem;
  margin: 40px 0;
}

h3 {
  font-size: 1.4rem;
  margin: 30px 0;
}

p {
  font-size: 1.5rem;
  margin: 40px 0;
}

label {
  font-size: 1.3rem;
  margin: 15px 0;
}

.container {
  background-image: linear-gradient(140deg,rgba(153,34,15,0.4), rgba(46,230,145,0.4)), url("https://images.unsplash.com/photo-1606787366850-de6330128bfc?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1950&q=80");
  background-size: cover;
  color: white;
  /* display flex is needed for child not to crop the background on its vertical margins */ 
  display: flex;
  height: 100%;
  width:100%;
  text-align: center;
  
}

#main {
  background: rgba(0,0,0,0.7);
  padding: 40px 0;
}

@media screen and (min-width: 800px) {
  #main {
    margin: 5% auto;
    max-width: 800px;
    border-radius: 8%;
  }
}

@media screen and (min-width: 1300px) {
  #main {
    margin: 5% auto;
    max-width: 1100px;
    border-radius: 8%;
  }
}

/* form */

.form-field {padding: 10px 15%;}

.form-field label {
  display: block;
  text-align: left;
}

.form-field input, #dropdown {
  font-size: 1.1rem;
  height: 30px;
  width: 100%;
}

.form-field input:focus, #dropdown:focus {
  outline: none !important;
  border:1px solid orange;
  box-shadow: 0 0 10px orange;
}

/* main grid container (includes radio buttons and checkboxes) */

.main-grid {
  padding: 20px 15%;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(240px, 350px));
  column-gap: 3rem;
}

/* radio buttons */

.radio-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.radio-form input {
  height: auto;
  width: auto;
}

.radio-form input:focus {box-shadow: none;}

/* checkboxes */

#checkboxes {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#checkboxes input {
  box-shadow: none;
  height: auto;
  width: auto;
}

/* text  area */

#feedback {
  width: 100%;
}